<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
</div>

<app-custom-calendar></app-custom-calendar>

<app-custom-schedule></app-custom-schedule>
